syntax: glob
*.*~
*old*
app*
*.bak
*venv*
*.com
//*.dll
//*.exe
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.egg
*.egg-info
*.log
*.sql
*.sqlite
*.suo
*.py[co]
*.spec
*.idea
*.sln
*.*proj
ZavodLib/
NikTest/
PLCTest/
build/
__pycache__/
[Ll]ogs/
sql/
[Bb]ackup/
~$*
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini
venv/
component/
dst/
*_
log*.txt
doc
.idea*
statistics.txt
doc/
*.txt
